<div class="footer-menu">
  <div class="footer-menu__container container">
    <div class="footer-menu__up">Наверх</div>
    <ul class="footer-menu__list">
      <li class="footer-menu__item footer-menu__item--open">
        <a href="#" class="footer-menu__link">Подвесные потолки</a>
        <div class="footer-menu__fall-decor footer-menu__fall-decor--two-col">
          <div class="footer-menu__fall">
          <div class="footer-menu__fall-item">
            <a href="#" class="footer-menu__fall-link">Подвесные потолки</a>
          </div>
          <div class="footer-menu__fall-item">
            <a href="#" class="footer-menu__fall-link">Потолки "Эконом"</a>
          </div>
          <div class="footer-menu__fall-item">
            <a href="#" class="footer-menu__fall-link">Реечные потолки</a>
          </div>
          <div class="footer-menu__fall-item">
            <a href="#" class="footer-menu__fall-link">Дизайнеские подвесные потолки</a>
          </div>
          <div class="footer-menu__fall-item">
            <a href="#" class="footer-menu__fall-link">Влагостойкие подвесные потолки</a>
          </div>
          <div class="footer-menu__fall-item">
            <a href="#" class="footer-menu__fall-link">Медицинские подвесные потолки</a>
          </div>
          <div class="footer-menu__fall-item">
            <a href="#" class="footer-menu__fall-link">Акустические потолки</a>
          </div>
          <div class="footer-menu__fall-item">
            <a href="#" class="footer-menu__fall-link">Подвесные потолки</a>
          </div>
          <div class="footer-menu__fall-item">
            <a href="#" class="footer-menu__fall-link">Потолки "Эконом"</a>
          </div>
          <div class="footer-menu__fall-item">
            <a href="#" class="footer-menu__fall-link">Реечные потолки</a>
          </div>
          <div class="footer-menu__fall-item">
            <a href="#" class="footer-menu__fall-link">Дизайнеские подвесные потолки</a>
          </div>
        </div>
        </div>
      </li>
      <li class="footer-menu__item footer-menu__item--open">
        <a href="#" class="footer-menu__link">Стены</a>
        <div class="footer-menu__fall-decor">
          <div class="footer-menu__fall">
            <div class="footer-menu__fall-item">
              <a href="#" class="footer-menu__fall-link">Подвесные потолки</a>
            </div>
            <div class="footer-menu__fall-item">
              <a href="#" class="footer-menu__fall-link">Потолки "Эконом"</a>
            </div>
            <div class="footer-menu__fall-item">
              <a href="#" class="footer-menu__fall-link">Реечные потолки</a>
            </div>
            <div class="footer-menu__fall-item">
              <a href="#" class="footer-menu__fall-link">Дизайнеские подвесные потолки</a>
            </div>
            <div class="footer-menu__fall-item">
              <a href="#" class="footer-menu__fall-link">Влагостойкие подвесные потолки</a>
            </div>
            <div class="footer-menu__fall-item">
              <a href="#" class="footer-menu__fall-link">Медицинские подвесные потолки</a>
            </div>
            <div class="footer-menu__fall-item">
              <a href="#" class="footer-menu__fall-link">Акустические потолки</a>
            </div>
            <div class="footer-menu__fall-item">
              <a href="#" class="footer-menu__fall-link">Потолки-фрагменты, потолки острова, звукопоглащающие экраны</a>
            </div>
          </div>
        </div>
      </li>
      <li class="footer-menu__item footer-menu__item--open ">
        <a href="#" class="footer-menu__link">Фальшполы</a>
        <div class="footer-menu__fall-decor footer-menu__fall-decor--two-col">
          <div class="footer-menu__fall">
            <div class="footer-menu__fall-item">
              <a href="#" class="footer-menu__fall-link">Подвесные потолки</a>
            </div>
            <div class="footer-menu__fall-item">
              <a href="#" class="footer-menu__fall-link">Потолки "Эконом"</a>
            </div>
            <div class="footer-menu__fall-item">
              <a href="#" class="footer-menu__fall-link">Реечные потолки</a>
            </div>
            <div class="footer-menu__fall-item">
              <a href="#" class="footer-menu__fall-link">Дизайнеские подвесные потолки</a>
            </div>
            <div class="footer-menu__fall-item">
              <a href="#" class="footer-menu__fall-link">Влагостойкие подвесные потолки</a>
            </div>
            <div class="footer-menu__fall-item">
              <a href="#" class="footer-menu__fall-link">Медицинские подвесные потолки</a>
            </div>
            <div class="footer-menu__fall-item">
              <a href="#" class="footer-menu__fall-link">Акустические потолки</a>
            </div>
            <div class="footer-menu__fall-item">
              <a href="#" class="footer-menu__fall-link">Подвесные потолки</a>
            </div>
            <div class="footer-menu__fall-item">
              <a href="#" class="footer-menu__fall-link">Потолки "Эконом"</a>
            </div>
            <div class="footer-menu__fall-item">
              <a href="#" class="footer-menu__fall-link">Реечные потолки</a>
            </div>
            <div class="footer-menu__fall-item">
              <a href="#" class="footer-menu__fall-link">Подвесные потолки</a>
            </div>
            <div class="footer-menu__fall-item">
              <a href="#" class="footer-menu__fall-link">Потолки "Эконом"</a>
            </div>
            <div class="footer-menu__fall-item">
              <a href="#" class="footer-menu__fall-link">Реечные потолки</a>
            </div>
          </div>
        </div>
      </li>
      <li class="footer-menu__item footer-menu__item--open">
        <a href="#" class="footer-menu__link">Объекты</a>
        <div class="footer-menu__fall-decor footer-menu__fall-decor--two-col">
          <div class="footer-menu__fall">
            <div class="footer-menu__fall-item">
              <a href="#" class="footer-menu__fall-link">Подвесные потолки</a>
            </div>
            <div class="footer-menu__fall-item">
              <a href="#" class="footer-menu__fall-link">Потолки "Эконом"</a>
            </div>
            <div class="footer-menu__fall-item">
              <a href="#" class="footer-menu__fall-link">Реечные потолки</a>
            </div>
            <div class="footer-menu__fall-item">
              <a href="#" class="footer-menu__fall-link">Дизайнеские подвесные потолки</a>
            </div>
            <div class="footer-menu__fall-item">
              <a href="#" class="footer-menu__fall-link">Влагостойкие подвесные потолки</a>
            </div>
            <div class="footer-menu__fall-item">
              <a href="#" class="footer-menu__fall-link">Медицинские подвесные потолки</a>
            </div>
            <div class="footer-menu__fall-item">
              <a href="#" class="footer-menu__fall-link">Акустические потолки</a>
            </div>
            <div class="footer-menu__fall-item">
              <a href="#" class="footer-menu__fall-link">Потлки-фрагменты, потолки острова, звукопоглащающие экраны</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<footer class="page-footer">
  <div class="page-footer__container container clearfix">
    <div class="page-footer__wrap">
      <div class="page-footer__copy">2013-2015, <a href="index-page.html">Архитектоника</a></div>
      <a href="http://donepro.ru/" class="page-footer__done" target="_blank">Everything is</a>
      <div class="page-footer__contacts">
        <div class="page-footer__address">18-я линия ВО, 29, БЦ «Сенатор», офис 426 Б</div>
      </div>
    </div>
  </div>
</footer>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEZPGYh87bPzjm4kaHSnAjZQ709zXZgOM"></script>
<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate-1.2.1.js"></script>
<script src="js/social-likes.min.js"></script>
<script src="js/map.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/gallery.js"></script>
<script src="js/script.js"></script>
</body>
</html>
