<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Архитектоника</title>
  <link rel="shortcut icon" href="img/fav.ico">
  <link href="css/style.css" rel="stylesheet">
</head>
<body class="page">
<header class="head-fixed">
  <div class="page-header">
    <div class="page-header__container container ">
      <div class="page-header__wrap clearfix">
        <a href="index-page.html" class="page-header__logo-block clearfix">
          <div class="page-header__logo-pic"><img src="img/head__logo.png"></div>
          <div class="page-header__logo-title">
            <div class="page-header__logo-top-title">Архитектоника</div>
            <div class="page-header__logo-bottom-title">Потолочные решения</div>
          </div>
        </a>
        <div class="page-header__contact-block">
          <div class="page-header__contact-block-top clearfix">
            <div class="page-header__phone">
              <a href="tel:+78123099778">+7 (812) 309 97 78</a>
            </div>
            <div class="page-header__time">Режим работы: <span>9:00—17:30</span></div>
          </div>
          <div class="page-header__address">
            18-я линия ВО, 29, БЦ «Сенатор», офис 426 Б | <a href="mailto:office@archi.spb.ru" class="page-header__email">office@archi.spb.ru</a>
          </div>
        </div>
        <a href="mailto:office@archi.spb.ru" class="page-header__email-block">office@archi.spb.ru</a>
      </div>
    </div>
  </div>
  <div class="top-menu">
    <div class="top-menu__container container">
      <ul class="top-menu__list">
        <li class="top-menu__item top-menu__item--active">
          <a href="index-page.html" class="top-menu__link">
            <span>Главная</span>
          </a>
        </li>
        <li class="top-menu__item top-menu__item--open">
          <a href="company.html" class="top-menu__link">
            <span>О компании</span>
          </a>
          <div class="top-menu__fall">
            <div class="top-menu__fall-item">
              <a href="content-page.html" class="top-menu__fall-link">Производитель 3</a>
            </div>
            <div class="top-menu__fall-item">
              <a href="content-page.html" class="top-menu__fall-link">Производитель 2</a>
            </div>
            <div class="top-menu__fall-item">
              <a href="content-page.html" class="top-menu__fall-link">Производитель 1</a>
            </div>
            <div class="top-menu__fall-item">
              <a href="#" class="top-menu__fall-link">Производитель 0</a>
            </div>
          </div>
        </li>
        <li class="top-menu__item top-menu__item--open ">
          <a href="content-page.html" class="top-menu__link">
            <span>Производители</span>
          </a>
          <div class="top-menu__fall top-menu__fall--two-col">
            <div class="top-menu__fall-item">
              <a href="content-page.html" class="top-menu__fall-link">Производитель 3</a>
            </div>
            <div class="top-menu__fall-item">
              <a href="content-page.html" class="top-menu__fall-link">Производитель 2</a>
            </div>
            <div class="top-menu__fall-item">
              <a href="content-page.html" class="top-menu__fall-link">Производитель 1</a>
            </div>
            <div class="top-menu__fall-item">
              <a href="content-page.html" class="top-menu__fall-link">Производитель 0</a>
            </div>
            <div class="top-menu__fall-item">
              <a href="#" class="top-menu__fall-link">Производитель 3</a>
            </div>
            <div class="top-menu__fall-item">
              <a href="#" class="top-menu__fall-link">Производитель 2</a>
            </div>
            <div class="top-menu__fall-item">
              <a href="#" class="top-menu__fall-link">Производитель 1</a>
            </div>
            <div class="top-menu__fall-item">
              <a href="#" class="top-menu__fall-link">Производитель 0</a>
            </div>
          </div>
        </li>
        <li class="top-menu__item">
          <a href="#" class="top-menu__link">
            <span>Сертификаты</span>
          </a>
        </li>
        <li class="top-menu__item">
          <a href="gallery.html" class="top-menu__link">
            <span>Галерея</span>
          </a>
        </li>
        <li class="top-menu__item ">
          <a href="contacts.html" class="top-menu__link">
            <span>Контакты</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>